:host {
    div.top-app-bar {
        background-color: inherit;
        position: -webkit-sticky;
        position: sticky;
        z-index: 80;
        top: 0;
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        flex-direction: row;
        padding: 0 16px;
        margin: 0;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);

        .region {
            box-sizing: border-box;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-grid-row-align: center;
            align-items: center;
            -webkit-align-content: center;
            align-content: center;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;

            &.region__navigation,
            &.region__icon-buttons {
                width: 30%;
            }

            &.region__icon-buttons {
                -webkit-box-pack: end;
                -webkit-justify-content: flex-end;
                justify-content: flex-end;
            }

            &.region__flex {
                display: flex;
                -webkit-flex: 1;
                -webkit-box-flex: 1;
                flex: 1;
            }
        }

        h1 {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 20px;
            letter-spacing: .005em;
            line-height: 60px;
            margin: 0;

            .second-name {
                font-size: 18px;
                margin-left: 8px;
            }
        }
    }
}